.statistic {
  min-width: 280px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
}
.statistic__title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.statistic__data {
  display: flex;
  flex-direction: column;
}
.statistic__table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.statistic__select {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
.emptyTitle {
  margin: 0;
  margin-right: 10px;
  color: rgb(255, 101, 150);
}
.statistic__listTitle {
  font-family: 'CirceBold';
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border-radius: 50px;
  background-color: whitesmoke;
}
.statistic__list {
  font-family: 'CirceRegular';
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.statistic__value {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
  font-family: 'CirceBold';
  font-weight: 700;
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .statistic {
    height:100vh;
  }
  .statistic__data {
    flex-direction: row;
  }
  .statistic__table {
    width: 330px;
    margin-right: auto;
    margin-top: -60px;
  }
  .statistic__select {
    flex-direction: row;
    justify-content: space-between;
  }
  .emptyTitle {
    width: 360px;
    margin-right: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .statistic__data {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .statistic {
    min-width: 800px;
    height: calc(100vh - 110px);
  }
  .statistic__title {
    margin: 0;
    margin-left: 70px;
    margin-bottom: 20px;
    padding: 0;
  }
  .statistic__select {
    flex-direction: row;
    gap: 20px;
    margin: 0;
    width: 395px;
  }
  .emptyTitle {
    margin: 0 auto;
  }
}
