.wrapper {
  display: flex;

  justify-content: space-between;
}

.currency__container {
  padding: 0 20px;
  color: #ffffff;
  width: 393px;
  height: 347px;
  background-image: url('../../img/images/Currency.png');
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .currency__container {
    position: absolute;
    right: 32px;

    flex-direction: column;
    align-items: flex-start;
    width: 336px;
    height: 182px;
    background-image: url('../../img/images/Currency_tab.png');
  }
}

@media screen and (max-width: 767px) {
  .currency__container {
    flex-direction: column;
    margin-left: 20px;
    width: 280px;
    height: 174px;
    background-image: url('../../img/images/Currency_mob.png');
  }
}

.currency__list {
  list-style: none;
}

.currency__title {
  list-style: none;

  margin: 0;
}
.currency {
  list-style: none;
}
.currency__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 90px;
  align-items: center;
}
.currency__item_header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0px 0 10px 0;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
